.frame-answer {
	width: 350px;
	margin-bottom: 10px;
}
.button-add {
	cursor: pointer;
}

.width-100 {
	width: 100%;
}
.btn-line {
	padding: 32px;
	padding-left: 0px;
	text-decoration: underline;
	cursor: pointer;
}
.alert.alert-danger {
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 14px;
	margin-top: 4px;
}
